Repository DasunThathsara/eZpark, pull requests merged in 2024-04, with the labels that each got.

#299 feat: view available packages - Driver
  app/controllers/Driver.php
  app/views/driver/viewParking.php
Labels: feat

#301 feat: subscribe packages - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/viewParking.php
Labels: feat

#303 fix: subscribe packages - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/viewParking.php
Labels: feat

#307 Fix: registration request handling
  app/models/UserModel.php
Labels: fix

#311 fix: logout function - Admin
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/models/UserModel.php
  app/views/admin/index.php
  app/views/driver/packages.php
  app/views/driver/viewParking.php
  app/views/inc/components/sidenavbar.php
Labels: fix

#312 feat: view parking history - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/history.php
  public/css/components/staticContentTable.css
Labels: feat

#313 feat: view packages - Driver
  app/models/DriverModel.php
  app/views/driver/packages.php
Labels: feat

#318 fix: Land registration
  app/config/config.php
  app/views/inc/footer.php
  app/views/inc/header.php
Labels: fix

#320 feat: View all parking through the map - Driver and it's status
  app/config/config.php
  app/views/driver/index.php
  public/images/pin-b.png
  public/images/pin-g.png
  public/images/pin-r.png
  public/images/pin-y.png
Labels: feat

#323 feat: Go to the parking using marker - Driver
  app/views/driver/index.php
Labels: feat

#325 feat: View available slot count of the parking, when hover the marker…
  app/views/driver/index.php
Labels: feat

#330 feat: view parking through the map for super admin view request funct…
  app/views/superAdmin/viewRequest.php
Labels: feat

#331 fix: Subscribe packages for driver
  app/models/DriverModel.php
Labels: feat

#333 feat: Get directions to the parking - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/directionToParking.php
  app/views/driver/enterExitParking/vehicleTypeSelection.php
  app/views/driver/onlinePayment.php
  app/views/driver/parkingFee.php
  app/views/driver/paymentSuccessful.php
  app/views/driver/scanQRCode.php
  app/views/driver/scanQRCodeToExit.php
  app/views/driver/viewParking.php
Labels: feat

#356 Fix parking owner package and capacity
  app/controllers/LandCapacity.php
  app/controllers/LandPrice.php
  app/controllers/Package.php
  app/models/ParkingOwnerModel.php
  app/views/parkingOwner/capacity/update.php
  app/views/parkingOwner/capacity/viewCapacity.php
  app/views/parkingOwner/packages/create.php
  app/views/parkingOwner/prices.php
Labels: fix

#357 Fix: View Parking for Driver
  app/views/driver/enterExitParking/vehicleTypeSelection.php
  app/views/driver/viewParking.php
  public/css/components/formStyles.css
  public/css/driver.css
  public/images/Enter.png
  public/images/Navigation.png
Labels: feat

#359 MAP API
  app/controllers/Driver.php
Labels: feat

#360 feat: MAP API
  app/config/config.php
Labels: fix

#371 feat: Make reservations - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
Labels: feat

#378 feat: QR generator and scanner
  app/controllers/Driver.php
  app/views/driver/index.php
  app/views/driver/makeReservation.php
  app/views/driver/scanQRCode.php
  app/views/inc/components/sidenavbar.php
  app/views/inc/components/topnavbar.php
  app/views/parkingOwner/land.php
  public/css/driver.css
  public/images/QR.png
  public/images/scanner.jpg
Labels: feat

#383 Edit parking capacity - Security
  app/controllers/Land.php
  app/controllers/LandCapacity.php
  app/controllers/Package.php
  app/controllers/Users.php
  app/models/LandModel.php
  app/models/UserModel.php
  app/views/parkingOwner/capacity/requestedUpdate.php
  app/views/parkingOwner/capacity/update.php
  app/views/parkingOwner/packages/viewPackage.php
  app/views/users/notifications.php
  public/images/request.png
Labels: feat

#397 feat: rating, complaint and review - Driver
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/index.php
  public/css/driver.css
Labels: feat

#398 Update vehicle selection to enter the parking UI - Driver
  app/views/driver/enterExitParking/vehicleTypeSelection.php
Labels: fix

#409 Complaint management - Admin
  app/controllers/Admin.php
  app/controllers/Driver.php
  app/models/AdminModel.php
  app/models/DriverModel.php
  app/models/LandModel.php
  app/models/UserModel.php
  app/views/admin/complaints.php
  app/views/admin/viewComplaint.php
  app/views/users/notifications.php
Labels: feat

#414 Land '0' rating error handle
  app/controllers/ParkingOwner.php
  app/controllers/Security.php
  app/controllers/Users.php
  app/models/LandModel.php
  app/models/SecurityModel.php
  app/views/parkingOwner/land.php
  app/views/security/viewRequestedLand.php
  app/views/security/viewRequests.php
  app/views/users/notifications.php
Labels: bug
