Repository DasunThathsara/eZpark, pull requests merged in 2024-02, with the labels that each got.

#255 Assigning land registration verification to them selves
  app/controllers/Admin.php
  app/models/LandModel.php
  app/views/admin/requests.php
  app/views/parkingOwner/lands.php
  app/views/superAdmin/admins.php
  public/css/components/dynamicContentTable.css
Labels: feat

#256 Unassigned myself land verify option for admins
  app/controllers/Admin.php
  app/models/LandModel.php
  app/views/admin/requests.php
Labels: feat

#260 added security and parking owner land scenario
  app/controllers/ParkingOwner.php
  app/controllers/Security.php
  app/models/SecurityModel.php
  app/views/inc/components/sidenavbar.php
  app/views/parkingOwner/securities.php
  app/views/security/index.php
  app/views/security/viewRequests.php
  public/deeds/DEED-65b7d2a266a641.23511900.pdf
  public/deeds/DEED-65c46a075c82c3.33382731.pdf
Labels: feat

#263 fix: Set parking owner assigned security delete scene
  app/controllers/ParkingOwner.php
  app/controllers/Security.php
  app/models/SecurityModel.php
  app/views/parkingOwner/securities.php
  app/views/security/index.php
Labels: enhancement

#269 feat: exit from the parking
  app/controllers/Driver.php
  app/models/DriverModel.php
  app/views/driver/enterExitParking/vehicleTypeSelection.php
  app/views/driver/index.php
Labels: feat

#274 feat: Added give land access to security when tap the toggle button
  app/controllers/ParkingOwner.php
  app/controllers/Security.php
  app/models/ParkingOwnerModel.php
  app/models/SecurityModel.php
  app/views/parkingOwner/securities.php
  app/views/security/index.php
  public/css/style.css
Labels: feat

#284 feat: real time update recent parking transactions list
  app/views/parkingOwner/land.php
Labels: feat

#286 feat: real-time update the monthly income of the parking
  app/controllers/ParkingOwner.php
  app/models/LandModel.php
  app/views/inc/header.php
  app/views/parkingOwner/land.php
  public/js/parkingDashboard.js
Labels: feat

#287 feat: view all transactions on all lands of the parking owner
  app/controllers/ParkingOwner.php
  app/models/LandModel.php
  app/views/parkingOwner/index.php
  app/views/parkingOwner/land.php
Labels: feat

#289 feat: view all transactions on all lands of the security
  app/controllers/Security.php
  app/views/security/index.php
Labels: feat

#294 feat: vehicle count chat for the parking
  app/controllers/ParkingOwner.php
  app/models/DriverModel.php
  app/models/LandModel.php
  app/views/parkingOwner/land.php
Labels: feat

#296 fix: real-time income update functionality
  app/views/security/index.php
Labels: fix

#298 feat: Admin active/inactive and view admins assigned lands for Super Admin
  app/controllers/Security.php
  app/controllers/SuperAdmin.php
  app/controllers/Users.php
  app/models/LandModel.php
  app/models/SecurityModel.php
  app/models/SuperAdminModel.php
  app/models/UserModel.php
  app/views/admin/requests.php
  app/views/parkingOwner/securities.php
  app/views/superAdmin/admins.php
  app/views/superAdmin/requests.php
  public/css/style.css
Labels: feat, fix
